<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">

    <form class="form-horizontal" #signupForm = "ngForm">
      <fieldset>
        <legend>Inscription</legend>

        <!--- Email Block --->
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text"
                 [(ngModel)] = "praticien.mail"
                 id="inputEmail"
                 name="email"
                 placeholder="Email">
        </div>
        <!--- Password Block --->
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password"
                [(ngModel)] = "praticien.password"
                name="password"
                id="inputPassword"
                placeholder="Password">
        </div>

        <!--- Select gender Block --->
        <div class="form-group">
          <label for="select">Civilite</label>
          <select id="select">
            <option *ngFor = "let c of civilite"
                    [value] = "c"> {{c}}
            </option>
          </select>
        </div>

        <!---nom prenom telephone adresse--->

        <div class="form-group">
          <label for="inputNom">Nom</label>
          <input type="text"
                 [(ngModel)] = "praticien.nom"
                 name="nom"
                 id="inputNom"
                 placeholder="Nom">
        </div>
        <div class="form-group">
          <label for="inputPrenom">Prenom</label>
          <input type="text"
                 [(ngModel)] = "praticien.prenom"
                 name="prenom"
                 id="inputPrenom"
                 placeholder="Prenom">
        </div>
        <div class="form-group">
          <label for="inputTelephone">Telephone</label>
          <input type="text"
                 [(ngModel)] = "praticien.telephone"
                 name="telephone"
                 id="inputTelephone"
                 placeholder="Telephone">
        </div>
        Adresse&nbsp;:<br/>
        <div class="form-group">
          <label for="inputNumero">Numero</label>
          <input type="text"
                 [(ngModel)] = "praticien.adresse.numero"
                 name="nom"
                 id="inputNumero"
                 placeholder="Numero">
        </div>
        <div class="form-group">
          <label for="inputRue">Rue</label>
          <input type="text"
                 id="inputRue"
                 placeholder="Rue">
        </div>
        <div class="form-group">
          <label for="inputCp">CP</label>
          <input type="text"
                 id="inputCp"
                 placeholder="Cp">
        </div>
        <div class="form-group">
          <label for="inputVille">Ville</label>
          <input type="text"
                 id="inputVille"
                 placeholder="Ville">
        </div>
        <div class="form-group">
          <label for="inputCode">Code</label>
          <input type="text"
                 id="inputCode"
                 placeholder="Code">
        </div>
        <!---specialite--->
        <div class="form-group">
          <label for="select1">Spécialité 1</label>
          <select id="select1">
            <option>Généraliste</option>
            <option>Pédiatre</option>
            <option>Gynécologue</option>
            <option>Dentiste</option>
            <option>Psychologue</option>
            <option>Ophtalmologue</option>
            <option>ORL</option>
            <option>Cardiologue</option>
            <option>Dermatologue</option>
          </select>
        </div>
        <div class="form-group">
          <label for="select2">Spécialité 2</label>
          <select id="select2">
            <option>Généraliste</option>
            <option>Pédiatre</option>
            <option>Gynécologue</option>
            <option>Dentiste</option>
            <option>Psychologue</option>
            <option>Ophtalmologue</option>
            <option>ORL</option>
            <option>Cardiologue</option>
            <option>Dermatologue</option>
          </select>
        </div>
        <div class="form-group">
          <label for="select3">Spécialité 3</label>
          <select id="select3">
            <option>Généraliste</option>
            <option>Pédiatre</option>
            <option>Gynécologue</option>
            <option>Dentiste</option>
            <option>Psychologue</option>
            <option>Ophtalmologue</option>
            <option>ORL</option>
            <option>Cardiologue</option>
            <option>Dermatologue</option>
          </select>
        </div>
        <!---motif--->
        <div class="form-group">
          <label for="inputMotif1">Motif 1</label>
          <input type="text"
                 id="inputMotif1"
                 placeholder="Motif1">
        </div>
        <div class="form-group">
        <label for="inputMotif2">Motif 2</label>
        <input type="text"
               id="inputMotif2"
               placeholder="Motif2">
      </div>
        <div class="form-group">
          <label for="inputMotif3">Motif3</label>
          <input type="text"
                 id="inputMotif3"
                 placeholder="Motif3">
        </div>
        <!--- Buttons Block --->
        <div class="form-group">
          <button type="reset" class="btn btn-default">Annuler</button>
          <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Passer à l'étape suivante</button>
          <!--boutton submit desactive jusqua ce que le formulaire soit valide-->
        </div>
      </fieldset>
    </form>
  </div>
</div>
