<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">

    <form class="form-horizontal">
      <fieldset>
        <legend>Inscription</legend>

        <!--- Email Block --->
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text"
                 id="inputEmail"
                 placeholder="Email">
        </div>
        <!--- Password Block --->
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password"
                 id="inputPassword"
                 placeholder="Password">
        </div>

        <div class="form-group">
          <label for="confirmPassword" >Confirmer le Password</label>
          <input type="password"
                 id="confirmPassword"
                 placeholder="Password">
        </div>

        <!--- Select gender Block --->
        <div class="form-group">
          <label for="select">Civilite</label>
          <select id="select">
            <option>Monsieur</option>
            <option>Madame</option>
            <option>Mademoiselle</option>
          </select>
        </div>

        <!---nom prenom telephone adresse--->

        <div class="form-group">
          <label for="inputNom">Nom</label>
          <input type="text"
                 id="inputNom"
                 placeholder="Nom">
        </div>
        <div class="form-group">
          <label for="inputPrenom">Prenom</label>
          <input type="text"
                 id="inputPrenom"
                 placeholder="Prenom">
        </div>
        <div class="form-group">
          <label for="inputTelephone">Telephone</label>
          <input type="text"
                 id="inputTelephone"
                 placeholder="Telephone">
        </div>
        Adresse&nbsp;:<br/>
        <div class="form-group">
          <label for="inputNumero">Numero</label>
          <input type="text"
                 id="inputNumero"
                 placeholder="Numero">
        </div>
        <div class="form-group">
          <label for="inputRue">Rue</label>
          <input type="text"
                 id="inputRue"
                 placeholder="Rue">
        </div>
        <div class="form-group">
          <label for="inputCp">CP</label>
          <input type="text"
                 id="inputCp"
                 placeholder="Cp">
        </div>
        <div class="form-group">
          <label for="inputVille">Ville</label>
          <input type="text"
                 id="inputVille"
                 placeholder="Ville">
        </div>
        <div class="form-group">
          <label for="inputCode">Code</label>
          <input type="text"
                 id="inputCode"
                 placeholder="Code">
        </div>
        <!---specialite--->
        <div class="form-group">
          <label for="select1">Spécialité 1</label>
          <select id="select1">
            <option>Généraliste</option>
            <option>Pédiatre</option>
            <option>Gynécologue</option>
            <option>Dentiste</option>
            <option>Psychologue</option>
            <option>Ophtalmologue</option>
            <option>ORL</option>
            <option>Cardiologue</option>
            <option>Dermatologue</option>
          </select>
        </div>
        <div class="form-group">
          <label for="select2">Spécialité 2</label>
          <select id="select2">
            <option>Généraliste</option>
            <option>Pédiatre</option>
            <option>Gynécologue</option>
            <option>Dentiste</option>
            <option>Psychologue</option>
            <option>Ophtalmologue</option>
            <option>ORL</option>
            <option>Cardiologue</option>
            <option>Dermatologue</option>
          </select>
        </div>
        <div class="form-group">
          <label for="select3">Spécialité 3</label>
          <select id="select3">
            <option>Généraliste</option>
            <option>Pédiatre</option>
            <option>Gynécologue</option>
            <option>Dentiste</option>
            <option>Psychologue</option>
            <option>Ophtalmologue</option>
            <option>ORL</option>
            <option>Cardiologue</option>
            <option>Dermatologue</option>
          </select>
        </div>
        <!---motif--->
        <div class="form-group">
          <label for="inputMotif1">Motif 1</label>
          <input type="text"
                 id="inputMotif1"
                 placeholder="Motif1">
        </div>
        <div class="form-group">
        <label for="inputMotif2">Motif 2</label>
        <input type="text"
               id="inputMotif2"
               placeholder="Motif2">
      </div>
        <div class="form-group">
          <label for="inputMotif3">Motif3</label>
          <input type="text"
                 id="inputMotif3"
                 placeholder="Motif3">
        </div>
        <!--- Buttons Block --->
        <div class="form-group">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
