
<div>
  <input type="text"
         ngModel
         name = "mot"
         id = "inputMot"
         class="form-control" [(ngModel)]="mot" placeholder="Recherche...">
  <span class="input-group-btn">
    <button (click)="list()" class="btn btn-secondary"
            type="submit">All</button>

    <button class="btn btn-success" (click)="searchNom()">Rechercher par nom</button>
  </span>

  <table class="table">
    <tr>
      <th>Username</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Spécialité</th>

    </tr>

    <tr lignePraticien [praticien]="p" *ngFor="let p of praticiens">

    </tr>
  </table>

</div>
