
  <select class=form-control name="deroulant" >
    <option >Type de recherche</option>
    <option value=un>Un</option>
    <option value=deux>Deux</option>
    <option value=trois>Trois</option>
  </select>
  <input type="text" class="form-control" [(ngModel)]="mot" placeholder="Recherche...">
  <span class="input-group-btn">
    <button (click)="searchAction()" *ngIf="deroulant.valueOf()!== null" class="btn btn-default glyphicon glyphicon-search"
            type="submit">Rechercher</button>
  </span>
  {{mot}}

