<div class="row custom-row">
  <div class="col-sm-5 custom-container jumbotron">

    <form class="form-horizontal" novalidate
          (ngSubmit)="onFormSubmit(signupForm)" #signupForm="ngForm">

      <fieldset>
        <legend>Inscription</legend>





        <!-- username-->
        <div class="form-group">
          <label for="inputUsername">Identifiant&nbsp;:&nbsp;</label>
          <input type="text"
                 ngModel
                 name="username"
                 id="inputUsername"
                 #username = "ngModel"
                  required>
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)"
             class="alert alert-danger">
          <div *ngIf = "username.errors?.required">
            Le champs identifiant doit être complété
          </div>
        </div>
        <!--- Password Block --->
        <div class="form-group">
          <label for="inputPassword">Mot de Passe&nbsp;:&nbsp;</label>
          <input type="password"
                 ngModel
                 name="password"
                 id="inputPassword"
                 #password = "ngModel"

                 minlength="6" required>
        </div>
        <div *ngIf="(password.invalid && password.touched)"
             class="alert alert-danger">
          <div *ngIf = "password.invalid; else nomatch">
            Le mot de passe doit être composé d'au moins 6 caractères
          </div>
          <ng-template #nomatch >
            Le mot de passe est incorrect
          </ng-template>
        </div>
        <!--- Email Block --->
        <div class="form-group">
          <label for="inputEmail">Email&nbsp;:&nbsp;</label>
          <input type="text"
                 ngModel
                 id="inputEmail"
                 name="mail"
                 #mail="ngModel"

                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
        </div>
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
             class="alert alert-danger">
          <div *ngIf="mail.errors?.required">
            Le champs Email doit être complété
          </div>
          <div *ngIf="mail.errors?.pattern && mail.touched">
            L'Email rentré n'est pas correct
          </div>
        </div>
        <!--- Select gender Block --->
        <div class="form-group">
          <label for="select">Civilité&nbsp;:&nbsp;</label>
          <select id="select" ngModel = "praticien.civilite" name = "civilite">
            <option *ngFor = "let c of civilite"
                    [value] = "c"> {{c}}
            </option>
          </select>
        </div>

        <!---nom prenom date de naissance telephone adresse--->

        <div class="form-group">
          <label for="inputNom">Nom&nbsp;:&nbsp;</label>
          <input type="text"
                 ngModel
                 name="nom"
                 id="inputNom"
                 #nom="ngModel"
                 required>
        </div>
        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)"
             class="alert alert-danger">
          <div *ngIf="nom.errors?.required">
            Le champs nom doit être complété
          </div>
        </div>
        <div class="form-group">
          <label for="inputPrenom">Prénom&nbsp;:&nbsp;</label>
          <input type="text"
                 ngModel
                 name="prenom"
                 id="inputPrenom"
                 #prenom="ngModel" required>
        </div>
        <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)"
             class="alert alert-danger">
          <div *ngIf="prenom.errors?.required">
            Le champs prénom doit être complété
          </div>
        </div>
        <!-- Date naissance à relir -->
        <div class="form-group">
          <label for="inputDateNaissance">Date de naissance&nbsp;:&nbsp;</label>
          <input type="date"
                 ngModel
                 name="dateNaissance"
                 id="inputDateNaissance"
                 #dateNaissance="ngModel"
                 required>
        </div>
        <div *ngIf="dateNaissance.invalid && (dateNaissance.dirty || dateNaissance.touched)"
             class="alert alert-danger">
          <div *ngIf="dateNaissance.errors?.required">
            Le champs date de naissance doit être renseigné
          </div>
        </div>


        <div class="form-group">
          <label for="inputTelephone">Téléphone&nbsp;:&nbsp;</label>
          <input type="text"
                 ngModel
                 name="telephone"
                 id="inputTelephone"
                 #telephone = "ngModel"
                 required>
        </div>
        <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)"
             class="alert alert-danger">
          <div *ngIf = "telephone.errors?.required">
            Le champs téléphone doit être complété
          </div>
        </div>


        <br/>Adresse&nbsp;:&nbsp;<br/>
        <div class="form-group">
          <label for="inputNumero">Numéro&nbsp;:&nbsp;</label>
          <input type="text"
                 ngModel
                 name="numero"
                 id="inputNumero"
                 #numero="ngModel"
                required>
        </div>
        <div *ngIf="numero.invalid && (numero.dirty || numero.touched)"
             class="alert alert-danger">
          <div *ngIf="numero.errors?.required">
            Le champs numéro doit être complété
          </div>
        </div>
        <div class="form-group">
          <label for="inputRue">Rue&nbsp;:&nbsp;</label>
          <input type="text"
                 ngModel
                 name="rue"
                 id="inputRue"
                 #rue="ngModel"
             required>
        </div>
        <div *ngIf="rue.invalid && (rue.dirty || rue.touched)"
             class="alert alert-danger">
          <div *ngIf="rue.errors?.required">
            Le champs rue doit être complété
          </div>
        </div>
        <div class="form-group">
          <label for="inputCp">Code Postal&nbsp;:&nbsp;</label>
          <input type="text"
                 ngModel
                 name="cp"
                 id="inputCp"
                 #cp="ngModel"
              required>
        </div>
        <div *ngIf="cp.invalid && (cp.dirty || cp.touched)"
             class="alert alert-danger">
          <div *ngIf="cp.errors?.required">
            Le champs code postal doit être complété
          </div>
        </div>
        <div class="form-group">
          <label for="inputVille">Ville&nbsp;:&nbsp;</label>
          <input type="text"
                 ngModel
                 name="ville"
                 id="inputVille"
                 #ville="ngModel"
                required>
        </div>
        <div *ngIf="ville.invalid && (ville.dirty || ville.touched)"
             class="alert alert-danger">
          <div *ngIf="ville.errors?.required">
            Le champs ville doit être complété
          </div>
        </div>
        <!--- Buttons Block --->
        <div class="form-group">
          <button type="reset" class="btn btn-default">Annuler</button>
          <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Valider
          </button>
          <!--boutton submit desactive jusqua ce que le formulaire soit valide-->
        </div>
      </fieldset>
    </form>
   <!-- {{signupForm.value | json}}-->
  </div>

</div>

